#page #cat {
    width: auto;
    height: 100px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#page #cat #homeButton {
    font-family: 'Passion One', cursive;
    font-size: 23px;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #4F81FF;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

#page #cat #homeButton:hover {
    font-size: 30px;
}

#page #cat #homeButton #buttonUnderline {
    background-color: #4F81FF;
    width: 70px;
    height: 2px;
    border: 2px solid #ffffff;
}

#page #cat .otherButton {
    font-family: 'Passion One', cursive;
    border: 5px solid;
    border-left: 26px solid;
    border-right: 26px solid;
    border-radius: 15px;
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

#page #cat .otherButton:hover {
    font-size: 25px;
}

#page #choose {
    display: flex;
    align-self: flex-end;
}

#page #choose #chooseButton {
    font-family: 'Passion One', cursive;
    font-size: 20px;
    color: #707070;
    border: 0px;
    outline: none;
}

#page #choose #chooseButton:hover {
    color: #5b5b61;
}

#page #postPics {
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#page #postPics .picLine {
    width: 365px;
    border: 15px solid #ffffff;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#page #postPics .picLine .pic {
    width: 365px;
    height: 200px;
    background-color: #d8d8d8;
    border-bottom: 30px solid #ffffff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#page #postPics .picLine .picBackground {
    width: 365px;
    height: 600px;
    background-color: #d8d8d8;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    border: #4F81FF;
    border-width: 1px;
}

#page #postPics .picLine .pic .image {
    align-self: center;
    position: absolute;
    top: -50px;
}

#page #postPics .picLine .picBackground .coverImage {
    align-self: center;
    position: absolute;
    top: -50px;
    width: 365px;
    height: 600px;
    object-fit: cover;
}

#page #postPics .picLine .picBackground .allPicOpera {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 365px;
    position: relative;
    color: #ffffff;
}

#page #postPics .picLine .picBackground .allPicOpera:hover {
    background-color: rgba(134, 134, 134, 0.4);
}

#page #postPics .picLine .picBackground .allPicOpera .followPic {
    width: 30px;
    transform: translate(16px, -10px);
}

.authPic {
    transform: translate(5px, 2px);
    object-fit: cover;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

#page #postPics .picLine .picBackground .allPicOpera .authorName {
    width: 150px;
    word-wrap: break-word;
    text-decoration: none;
    color: #ffffff;
}

#page #postPics .picLine .picBackground .allPicOpera .authorName:hover {
    text-decoration: underline;
}

#page #paging {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

#page #paging a,
#page #paging span,
#page #paging a:active,
#page #paging span:active {
    background-color: #fafafa;
    border: 8px solid #fafafa;
    border-right: 18px solid #fafafa;
    border-left: 18px solid #fafafa;
    border-radius: 10px;
    cursor: pointer;
    color: #4F81FF;
    text-decoration: none;
}

#page #paging a:hover,
#page #paging span:hover {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}