body{
    background-image: url(background.png);
    background-position: center center;
    background-attachment:fixed;
    background-size:cover;
}

#page {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#page #topStrip {
    height: 150px;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

#page #topStrip #logo,
#page #topStrip #logo:hover {
    display: flex;
    cursor: pointer;
}

#page #topStrip #logo img{
    width: 304px;
}

#page #topStrip #login_signup {
    width: 300px;
    height: 150px;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

#page #topStrip #login_signup .tipText {
    border-right: 7px solid #4f81ff00;
    width: 80px;
    height: 20px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
}

#page #topStrip #login_signup .lsText {
    width: 65px;
    height: 20px;
    font-size: 20px;
    font-family: 'Passion One', cursive;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
}

#page #topStrip #login_signup .lsText:hover {
    color: #4F81FF;
    text-decoration: none;
}

#page #signBorder{
    height: 900px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page #signBorder #signFrame{
    background-color: rgb(255, 255, 255);
    opacity: 1;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

#page #signBorder #signFrame span{
    font-family: 'Passion One', cursive;
    color: black;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
}

#page #signBorder #signFrame #nameFrame{
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

#page #signBorder #signFrame #nameFrame #name1{
    border: 1.5px solid rgba(175, 38, 38, 0);
    border-radius: 8px;
}

#page #signBorder #signFrame #nameFrame #name1:hover{
    border: 1.5px solid #4F81FF;
}

#page #signBorder #signFrame #nameFrame #name1 #firstName{
    width: 170px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #eeeeee;
    border-radius: 8px;
}

#page #signBorder #signFrame #nameFrame #name1 #firstName input{
    border: 0px;
    border-left: 20px solid #ffffff00;
    font-size: 19px;
    letter-spacing: 2px;
    outline: none;
    width: 120px;
    background-color: #eeeeee;
    color: #a7a7a7b2;
}

#page #signBorder #signFrame #nameFrame #name1  #firstName input:hover{
    color: #272727;
}

#page #signBorder #signFrame #nameFrame #name2{
    border: 1.5px solid rgba(175, 38, 38, 0);
    border-radius: 8px;
}

#page #signBorder #signFrame #nameFrame #name2:hover{
    border: 1.5px solid #4F81FF;
}

#page #signBorder #signFrame #nameFrame #name2 #lastName{
    width: 170px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #eeeeee;
    border-radius: 8px;
}

#page #signBorder #signFrame #nameFrame #name2 #lastName input{
    border: 0px;
    border-left: 20px solid #ffffff00;
    font-size: 19px;
    letter-spacing: 2px;
    outline: none;
    width: 120px;
    background-color: #eeeeee;
    color: #a7a7a7b2;
}

#page #signBorder #signFrame #nameFrame #name2 #lastName input:hover{
    color: #272727;
}










#page #signBorder #signFrame #regisEmailFrame{
    width: 350px;
    height: 45px;
    border: 1.5px solid rgba(70, 70, 70, 0);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #eeeeee;
}

#page #signBorder #signFrame #regisEmailFrame:hover{
    border: 1.5px solid #4F81FF;
}

#page #signBorder #signFrame #regisEmailFrame #regisEmailText input{
    border: 0px;
    border-left: 20px solid #ffffff00;
    font-size: 20px;
    letter-spacing: 2px;
    outline: none;
    width: 320px;
    background-color: #eeeeee;
    color: #a7a7a7b2;
}

#page #signBorder #signFrame #regisEmailFrame #regisEmailText input:hover{
    color: #272727;
}

#page #signBorder #signFrame #PasswordFrame{
    width: 350px;
    height: 45px;
    border: 1.5px solid rgba(70, 70, 70, 0);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #eeeeee;
}

#page #signBorder #signFrame #PasswordFrame:hover{
    border: 1.5px solid #4F81FF;
}

#page #signBorder #signFrame #PasswordFrame #PasswordText input{
    border: 0px;
    border-left: 20px solid #ffffff00;
    font-size: 20px;
    letter-spacing: 2px;
    outline: none;
    width: 320px;
    background-color: #eeeeee;
    color: #a7a7a7b2;
}

#page #signBorder #signFrame #PasswordFrame #PasswordText input:hover{
    color: #272727;
}

#page #signBorder #signFrame #loginButton{
    width: 350px;
    height: 45px;
    border: 1.5px solid rgba(70, 70, 70, 0);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1ab99679;
    text-decoration: none;
}

#page #signBorder #signFrame #loginButton:hover{
    border: 1.5px solid #1AB996;
}

#page #signBorder #signFrame #loginButton span{
    font-size: 30px;
    color: #ffffff;
    text-shadow: #6E6E6E 1px 0 0, #6E6E6E 0 1px 0, #6E6E6E -1px 0 0, #6E6E6E 0 -1px 0;
}


#page .rowLine {
    background-color: #ffffff;
    width: 1200px;
    height: 2px;
}

#page #bottom {
    display: flex;
    width: 400px;
    height: 35px;
    justify-content: space-around;
    border-top: 20px solid rgba(255, 255, 255, 0);
}

#page #bottom .helpInfo {
    font-size: 18px;
    font-family: 'Passion One', cursive;
    color: #ffffff;
    text-decoration: none;
}

#page #bottom .helpInfo:hover {
    color: #ffffff;
    text-decoration: none;
}

#page #copyright {
    color: #ffffff;
    font-size: xx-small;
}