*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url(background.png);
  background-position: center;
  background-attachment:fixed;
  background-size:cover;
}

#logo_img {
  height: 100px;


}

.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

 form .button{
   height: 45px;
 }

 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #1ab99679;
 }
 form .button input:hover{
  background: #1ab99679;
  }

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
}

.rowLine {
    margin-top: 100px;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
}

#bottom {
    display: flex;
    width: 400px;
    height: 35px;
    justify-content: space-around;
    border-top: 20px solid rgba(255, 255, 255, 0);
}

#bottom .helpInfo {
    font-size: 18px;
    font-family: 'Passion One', cursive;
    color: #ffffff;
    text-decoration: none;
}

#bottom .helpInfo:hover {
    color: #ffffff;
    text-decoration: none;
}

#copyright {
    color: #ffffff;
    font-size: xx-small;
}
