<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.username.label}}
        {{ form.username }}
        <br>
        {{ form.first_name.label}}
        {{ form.first_name }}
        <br>
        {{ form.last_name.label}}
        {{ form.last_name}}
        <br>
        {{ form.email.label }}
        {{ form.email }}
        <br>
        {{ form.password1.label }}
        {{ form.password1 }}
        <br>
        {{ form.password2.label }}
        {{ form.password2 }}
        <br>
        {% for message in messages %}
            <p> {{ message }}</p>
        {% endfor %}
        <input type="submit" name="register">
    </form>
</body>
</html>