{% extends 'feed_templates/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Search
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="/static/css/userFllowers.css" type="text/css">
<div id="frame">
    <div id="tipText"><span>Here is your fans.</span></div>
    <div class="rowLine"></div>
    <div id="resultFrame">
        <div class="spaceFrame">
            <div class="picFrame">
                <div id="author">
                    <a href=""><img id="authorProfile" src="{{ MEDIA_URL }}profile.png" alt="authorProfile" /></a>
                    <div id="authorDetail">
                        <a href="" id="name">Name</a>
                        <div id="following">66 followers</div>
                        <div id="location">
                            <a><img src="{% static 'images/location.png' %}" alt="location" /></a>
                            <a id="locationText">Location</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spaceFrame">
            <div class="picFrame">
                <div id="author">
                    <a href=""><img id="authorProfile" src="{{ MEDIA_URL }}profile.png" alt="authorProfile" /></a>
                    <div id="authorDetail">
                        <a href="" id="name">Name</a>
                        <div id="following">66 followers</div>
                        <div id="location">
                            <a><img src="{% static 'images/location.png' %}" alt="location" /></a>
                            <a id="locationText">Location</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spaceFrame">
            <div class="picFrame">
                <div id="author">
                    <a href=""><img id="authorProfile" src="{{ MEDIA_URL }}profile.png" alt="authorProfile" /></a>
                    <div id="authorDetail">
                        <a href="" id="name">Name</a>
                        <div id="following">66 followers</div>
                        <div id="location">
                            <a><img src="{% static 'images/location.png' %}" alt="location" /></a>
                            <a id="locationText">Location</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spaceFrame">
            <div class="picFrame">
                <div id="author">
                    <a href=""><img id="authorProfile" src="{{ MEDIA_URL }}profile.png" alt="authorProfile" /></a>
                    <div id="authorDetail">
                        <a href="" id="name">Name</a>
                        <div id="following">66 followers</div>
                        <div id="location">
                            <a><img src="{% static 'images/location.png' %}" alt="location" /></a>
                            <a id="locationText">Location</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spaceFrame">
            <div class="picFrame">
                <div id="author">
                    <a href=""><img id="authorProfile" src="{{ MEDIA_URL }}profile.png" alt="authorProfile" /></a>
                    <div id="authorDetail">
                        <a href="" id="name">Name</a>
                        <div id="following">66 followers</div>
                        <div id="location">
                            <a><img src="{% static 'images/location.png' %}" alt="location" /></a>
                            <a id="locationText">Location</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spaceFrame">
            <div class="picFrame">
                <div id="author">
                    <a href=""><img id="authorProfile" src="{{ MEDIA_URL }}profile.png" alt="authorProfile" /></a>
                    <div id="authorDetail">
                        <a href="" id="name">Name</a>
                        <div id="following">66 followers</div>
                        <div id="location">
                            <a><img src="{% static 'images/location.png' %}" alt="location" /></a>
                            <a id="locationText">Location</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spaceFrame">
            <div class="picFrame">
                <div id="author">
                    <a href=""><img id="authorProfile" src="{{ MEDIA_URL }}profile.png" alt="authorProfile" /></a>
                    <div id="authorDetail">
                        <a href="" id="name">Name</a>
                        <div id="following">66 followers</div>
                        <div id="location">
                            <a><img src="{% static 'images/location.png' %}" alt="location" /></a>
                            <a id="locationText">Location</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spaceFrame">
            <div class="picFrame">
                <div id="author">
                    <a href=""><img id="authorProfile" src="{{ MEDIA_URL }}profile.png" alt="authorProfile" /></a>
                    <div id="authorDetail">
                        <a href="" id="name">Name</a>
                        <div id="following">66 followers</div>
                        <div id="location">
                            <a><img src="{% static 'images/location.png' %}" alt="location" /></a>
                            <a id="locationText">Location</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div id="paging">
        <span>Previous</span>
        <a href="">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <span>Next</span>
    </div>
</div>
{% endblock %}