{% extends 'feed/base.html' %}
{% load staticfiles %}


{% block title_block %}
 Add Post
{% endblock %}



{% block body_block %}
<link rel="stylesheet" href="/static/css/addPost.css" type="text/css">

<br><br>
<form method="post" enctype="multipart/form-data" action="{% url 'feed:add_post' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    <div id = "page">
        <div id="detail">
            <div id="frame">
                <div id="pic">
                    <div id="upload">
                       {{ form.picture.errors }}
                       {{ form.picture }}
                       {% if no_pic_error %}
                            <span class="pic-error" >{{ no_pic_error }}</span>
                        {% endif %}
                    </div>
                </div>
                <div id="authorCom">
                    <div class="Allopera">
                        <div id="choose">
							<span class="input-label">Choose the category </span>
                            {{ category_form.category }}
                            {{ category_form.errors}}
                        </div>
                    </div>
                    <div id="authorCom">
                        <div class="input-box">
                            <div class="text-input">
                                <span class="input-label">Add your title</span>
                                {{ form.title.errors }}
                                {{ form.title }}
                            </div>
                        </div>
            
                        <div class="text-input">
                            <span class="input-label">Tell everyone what your picture is about</span>
                            {{ form.description }}
                            {{ form.description.errors }}
                        </div>
                    </div>
            
                    {% for field in form %}
                    {% for error in field.errors %}
                        <small class = "error-message">{{ error }}</small>
                    {% endfor %}
                    {% endfor %}
                    <div class="button">
                        <input type="submit" name="submit" value="Post">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<br><br>
{% endblock %}