{% extends 'feed/personalPage.html' %}
{% load staticfiles %}

{% block title_block %}
    Your attempts
{% endblock %}

{% block content-block %}
<div id="postPics">
    <div class = "wrapper">

    {% if posts %}
    {% for post in posts %}
    
            <div class="picLine">
                <div class="picBackground">
                    <a href="{% url 'feed:show_post' post.id%}"><img class="coverImage" 
                        src="{{ post.picture.url }}" alt="Image of {{ post.title }}"></a>
                    <div class="allPicOpera">
                                {{ post.title }}
                    </div>
                </div>
            </div>
   
    {% endfor %}
    {% else %}
        You haven't attempted anything yet!
    {% endif %}
    </div>
</div>
{% endblock %}