{% extends 'feed/personalPage.html' %}
{% load staticfiles %}

{% block title_block %}
    Your attempts
{% endblock %}

{% block content-block %}
<div id="postPics">
<table>
    {% if posts %}
    {% for post_row in posts %}
    <tr>
        {% for post in post_row %}
        <td>
            <div class="picLine">
                <div class="pic" style="height: 600px;">
                    <a href="{% url 'feed:show_post' post.id%}"><img class="image" style="width: 365; height: 600px; object-fit: cover;"
                        src="{{ post.picture.url }}" alt="Image of {{ post.title }}"></a>
                    <div class="allPicOpera">
                                {{ post.title }}
                    </div>
                </div>
            </div>
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% else %}
        You haven't attempted anything yet!
    {% endif %}
</table>
</div>
{% endblock %}