<!DOCTYPE html>

{% load static %}


<html>

    
        <head>
            <meta charset="UTF-8">
            <title>
                {% block title_block %}
                a default
                {% endblock %}
            </title>
            <link rel="stylesheet" href="/static/css/base.css" type="text/css">
            <link rel="stylesheet" href="/static/css/home.css" type="text/css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>                <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
                
            </div>
        </head>

        <body>
            <div id="page">
                <header>
                    <div id="topStrip">
                        <a href="/" id="logo">
                            <img src="{% static 'images/logo.png' %}" alt="logo" />
                        </a>
                        <div id="search">
                            <div id="border">
                                <div id="searchPic"><img src="{% static 'images/search.png' %}" alt="search" />
                                </div>
                                <form id="searchText" action="{% url 'feed:search_title' %}">
                                    <input type="text" name="Search" value="Search" onfocus="this.value=''"
                                        onblur="if(this.value==''){this.value='Search'}">
                                </form>
                            </div>
                        </div>
                        <div id="login_signup">
                            <link rel="preconnect" href="https://fonts.googleapis.com">
                            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                            <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
                            {% if user.is_authenticated %}
                                <a href="{% url 'feed:account' user.username %}" class="lsTest">Hi, {{ user }}</a>
                                <div id="topLine"></div>
                                <a href="{% url 'feed:logout' %}" class="lsText">&nbsp&nbspLogout</a>
                            {% else %}
                                <a href="{% url 'feed:login' %}" class="lsText">Log In</a>
                                <div id="topLine"></div>
                                <a href="{% url 'feed:register' %}" class="lsText">&nbsp&nbspSign Up</a>
                            {% endif %}
                        </div>
                    </div>
                </header>
                <div class="rowline"></div>
                <div id="cat">
                    <a href="{% url 'feed:home' %}" class="otherButton" style = "background-color: #4F81FF; border-color: #4F81FF;">Home</a>
                    <a href="{% url 'feed:show_category' 'Craft' %}" class="otherButton" style="background-color: #00BAAD; border-color: #00BAAD;">Craft</a>
                    <a href="{% url 'feed:show_category' 'Diy' %}" class="otherButton" style="background-color: #EDD70E; border-color: #EDD70E;">DIY</a>
                    <a href="{% url 'feed:show_category' 'Cook' %}" class="otherButton" style="background-color: #E3B5FF; border-color: #E3B5FF;">Food</a>
                    <a href="{% url 'feed:trending' %}" class="otherButton" style="background-color: #FF5733; border-color: #FF5733;">Trending</a>
                </div>
                {% block body_block %}
                {% endblock %}
            
                <div class="rowLine"></div>
                <div id="bottom">
                    <link rel="preconnect" href="https://fonts.googleapis.com">
                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                    <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
                    <a href="{% url 'feed:about' %}" class="helpInfo">About</a>
                    <a href="{% url 'feed:help' %}" class="helpInfo">Help</a>
                    <a href="{% url 'feed:contact_us' %}" class="helpInfo">Contact us</a>
                </div>
                <div id="copyright">Copyright © 2022 Team 9D. All rights reserved.</div>
            </div>
        </body>


    <script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
	<script src="{% static 'js/home.js' %}" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.2/examples/dashboard/dashboard.js"></script>

</html>