<!DOCTYPE html>

{% load static %}

<html>

<head>
    <meta charset="UTF-8">
    <title>
        Login
    </title>
    <link rel="stylesheet" href="/static/css/login.css" type="text/css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
</head>

<body>
    <a href="{% url 'feed:home' %}" id="logo">
          <img src="{% static 'images/logoWhite.png' %}" alt="logo" id="logo_img" />
      </a>

    <div class="container">
        <div class="title">Login</div>
        <div class="content">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">Username</span>
                      <input type="text" name="username" placeholder="XXXX">
                  </div>
                </div>

                <div class="user-details">
                  <div class="input-box">
                    <span class="details">Password</span>
                      <input type="password" name="password" placeholder="12345678">
                  </div>
                </div>

                {% for message in messages %}
                    <small class = "status-message"> {{ message }}</small>
                {% endfor %}

                <div class="button">
                    <input type="submit" value="Log in">
                </div>

                <div class="help_text">
                    <small>Don't have an account? <a href="{% url 'feed:register' %}">Sign up here</a></small><br>
                    <small>Forget your password? <a href="../../reset-password">Change password</a></small>
                </div>
            </form>
        </div>
    </div>

        <div class="rowLine"></div>
        <div id="bottom">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
            <a href="{% url 'feed:about' %}" class="helpInfo">About</a>
            <a href="{% url 'feed:help' %}" class="helpInfo">Help</a>
            <a href="{% url 'feed:contact_us' %}" class="helpInfo">Contact us</a>
        </div>
        <div id="copyright">Copyright © 2022 Team 9D. All rights reserved.</div>
</body>

<!-- JS goes here if needed-->
<script>

</script>

</html>
