{% extends 'feed/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Your page
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="/static/css/personalPage.css" type="text/css">

<div id="frame">
    {% if user.is_authenticated %}
        <div id="author">
            <a href="">
                {% if show_user.profile_picture %}
                    <img id="authorProfile" src="{{show_user.profile_picture.url}}" alt="authorProfile" />
                {% else %}
                    <img id="authorProfile" src="{{ MEDIA_URL }}profile.png" alt="authorProfile" />
                {%endif%}
            </a>
            <div id="authorDetail">
                <a href="" id="name">{{ show_user.username }}</a>
                <div id="followFrame">
                    <div class="follow"><a href>{{ following_count }}</a></div>
                    <div class="follow"><a href>{{ follower_count }}</a></div>
                </div>
                <div id="authorOpera">
                    <a class="button" href="{% url 'feed:follow_user' show_user  %}">Follow</a>
                </div>
            </div>
        </div>
        <div id="paFrame">
            <div id="postButton">
                <a href="">&nbspPosts</a>
                <div id="buttonUnderline1"></div>
            </div>
        </div>
        <div id="folderAndPics">
            {% if folders %}
                
            <div id="folders">
                {% for folder in folders %}
                    <div id="customFrame">
                        <div class="folderFrame">
                            <span class="foldersText">Folders</span>
                            <div class="folder">
                                <a href="" style="border-color:rgb(251, 255, 0)"  class="icon"></a>
                                <a href="{% url 'feed:show_folder' show_user.username folder.id%}"><span>{{ folder.name }}</span></a>
                            </div>
                            <div class="operaFrame">
                                {% if user == cur_user %}
                                <div class="operaFrame">
                                    <a class="addDeleteCat" href=""><img class="addDeleteCatButton" src="{% static 'images/addPost.png' %}" alt="addCat"></a>
                                    <a class="addDeleteCat" href=""><img class="addDeleteCatButton" src="{% static 'images/delete.png' %}" alt="deleteCat"></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="catFrame">
                            <span class="foldersText">Categories</span>
                            {% if followed_categories %}
                                {% for f in followed_categories %}
                                    <div class="folder">
                                        <a href="" style="border-color:rgb(0, 255, 13)"  class="icon"></a>
                                        <a href=""><span>{{ f.name }}</span></a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            
                            {% if user == cur_user %}
                                <div class="operaFrame">
                                    <a class="addDeleteCat" href=""><img class="addDeleteCatButton" src="{% static 'images/addPost.png' %}" alt="addCat"></a>
                                    <a class="addDeleteCat" href=""><img class="addDeleteCatButton" src="{% static 'images/delete.png' %}" alt="deleteCat"></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                No folders found.
            {% endif %}
            <div id="postPics">
                <table>
                    {% for post_row in posts %}
                        <tr>
                            {% for post in post_row %}
                            <td>
                                <div class="picLine">
                                    <div class="pic" style="height: 600px;">
                                        <a href="{% url 'feed:show_post' post.id%}"><img class="image" style="width: 365; height: 600px; object-fit: cover;"
                                            src="{{ post.picture.url }}" alt="Image of {{ post.title }}"></a>
                                        <div class="allPicOpera">
                                                    {{ post.title }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                    
                    {% endfor %}
                    </table>
            </div>
        </div>
    {% endif %}
    
    </div>
</div>

<br><br>
{% endblock %}