{% extends 'feed/base.html' %}
<!DOCTYPE html>
{% load staticfiles %}

{% block title_block %}
    Password reset complete
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" href="/static/css/password_reset.css" type="text/css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">

    <a href="{% url 'feed:home' %}" id="logo">
              <img src="{% static 'images/logowhite.png' %}" alt="logo" id="logo_img" />
    </a>

    <div class="container">
        <div class="title">Password reset complete</div>
        <div class="content">
            <strong id="message">Your password has been set. You may go ahead and
                <a href="{% url 'feed:login' %}" >log in</a> now. </strong>
        </div>
    </div>
{% endblock %}