{% extends 'feed/base.html' %}
<!DOCTYPE html>
{% load static %}

{% block title_block %}
    Reset password
{% endblock %}


{% block body_block %}
	<link rel="stylesheet" href="/static/css/password_reset.css" type="text/css">

    <div class="container">
        <div class="title">Reset password</div>
        <div class="content">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="user-details">
                    <div class="input-box">
                        <div id="help_text">Enter your email address below to continue.</div>
                            {{ form.email }}
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Send email">
                </div>
            </form>
        </div>
        <small>Already have an account? <a href="{% url 'feed:login' %}">Log in here</a></small>
    </div>

{% endblock %}
