{% extends 'feed/base.html' %}


{% load staticfiles %}

{% block title_block %}
    Password change
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" href="/static/css/password_reset.css" type="text/css">

    <div class="container">
        <div class="title">Change password</div>
        <div class="content">
            <form action="" method="POST">
                {% csrf_token %}

                {% for field in form %}
                    <div class="user-details">
                        <div class="input-box">
                            <span class="details"> {{ field.label }}</span>
                                {{ field }}
                        </div>
                    </div>

                    {% if field.errors %}
                        <small style="color:red;"> {{ field.errors }}</small>
                    {% endif %}

                {% endfor %}

                <div class="button">
                    <input type="submit" value="Change password">
                </div>
            </form>
        </div>
    </div>
{% endblock %}