<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set password</title>
    <link rel="stylesheet" href="/static/css/password_reset.css" type="text/css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <a href="{% url 'feed:home' %}" id="logo">
              <img src="{% static 'images/logowhite.png' %}" alt="logo" id="logo_img" />
    </a>

    <div class="container">
        <div class="title">Enter new password</div>
        <div class="content">
            <form method="POST">
                {% csrf_token %}
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Password</span>
                            {{ form.new_password1 }}
                    </div>

                    <div class="input-box">
                        <span class="details">Confirm Password </span>
                            {{ form.new_password2 }}
                    </div>

                    {% for field in form %}
                        {% for error in field.errors %}
                            <small style="color:red;">{{ error }}</small>
                        {% endfor %}
                    {% endfor %}

                <div class="button">
                    <input type="submit" value="Update Password">
                </div>
                </div>
            </form>
        </div>
    </div>
    <div class="rowLine"></div>
        <div id="bottom">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Passion+One&display=swap" rel="stylesheet">
            <a href="{% url 'feed:about' %}" class="helpInfo">About</a>
            <a href="{% url 'feed:help' %}" class="helpInfo">Help</a>
            <a href="{% url 'feed:contact_us' %}" class="helpInfo">Contact us</a>
        </div>
        <div id="copyright">Copyright © 2022 Team 9D. All rights reserved.</div>
</body>
</html>