{% extends 'feed/base.html' %}
<!DOCTYPE html>
{% load static %}


{% block title_block %}
    Set password
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" href="/static/css/password_reset.css" type="text/css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
	
	<a href="{% url 'feed:home' %}" id="logo">
              <img src="{% static 'images/logowhite.png' %}" alt="logo" id="logo_img" />
    </a>

    <div class="container">
        <div class="title">Enter new password</div>
        <div class="content">
            <form method="POST">
                {% csrf_token %}
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Password</span>
                            {{ form.new_password1 }}
                    </div>

                    <div class="input-box">
                        <span class="details">Confirm Password </span>
                            {{ form.new_password2 }}
                    </div>

                    {% for field in form %}
                        {% for error in field.errors %}
                            <small style="color:red;">{{ error }}</small>
                        {% endfor %}
                    {% endfor %}

                <div class="button">
                    <input type="submit" value="Update Password">
                </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
