{% extends 'feed/base.html' %}

{% load static %}

{% block title_block %}
    Reset password
{% endblock %}

{% block body_block %}
	<link rel="stylesheet" href="/static/css/password_reset.css" type="text/css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
	
	<a href="{% url 'feed:home' %}" id="logo">
              <img src="{% static 'images/logowhite.png' %}" alt="logo" id="logo_img" />
    </a>

    <div class="container">
        <div class="title">Success</div>
        <div class="content">
            <strong id="message">We have emailed you instructions for setting your password,
            if an account exists with the email you entered.
                You should receive them shortly. </strong>
        </div>
    </div>
{% endblock %}
