{% extends 'feed/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Post Detail
{% endblock %}


{% block body_block %}
<link rel="stylesheet" href="/static/css/picDetail.css" type="text/css">

<br><br>
<div id="detail">
    <div>
        <a href=""><img src="{% static 'images/back.png' %}" alt="back" /></a>
    </div>
    <div id="frame">
		{%if post %}
        <div id="pic">
            <a href=""><img src="{{ post.picture }}" alt="Picture"/></a>
        </div>
        <div id="authorCom">
            <div class="Allopera">
                <div class="normal">
                    <a href=""><img src="{% static 'images/heart.png' %}" alt="heart" /></a>
                    {{post.likes}}
                </div>  
            </div>
            <div id="author">
                <a href=""><img id="authorProfile" src="{{creator.profile_picture}}" alt="authorProfile" /></a>
                <div id="authorDetail">
                    <a href="" id="name">{{creator.name}}</a>
                    <div id="authorOpera">
                        <a class="button" href="">Follow</a>
                        <a class="button" href="">&nbsp&nbspDM&nbsp&nbsp</a>
                    </div>
                </div>
            </div>
            <div id="description">{{post.title}}</div>
            <div id="comments">
				{% for comment in comments %}
					<div class="comment">
						<div class="commentText">{{comment.comment}}</div>
					</div>
				{% endfor %}
            </div>
        </div>
		{% %}
    </div>
</div>
</br></br>
{% endblock %}