{% extends 'feed/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Post Detail
{% endblock %}


{% block body_block %}
<link rel="stylesheet" href="/static/css/picDetail.css" type="text/css">

<br><br>
{% if user.is_authenticated %}


<div id="detail">
    <div>
        <a href="{{request.META.HTTP_REFERER}}"><img src="{% static 'images/back.png' %}" alt="back" /></a>
    </div>
    <div id="frame">
		{%if post %}
        <script>
            user_id = {{user.id}};
            var urlConstructFollow = "{% url 'feed:get_follows' %}";
            user_2_id = {{post.creator.id}};
        </script>
        <div id="pic">
            <a href=""><img src="{{ post.picture.url  }}" alt="Picture"/></a>
        </div>
        <div id="authorCom">
            <div class="Allopera">
                <div class="normal">
                    <a href="{% url 'feed:like_post' post.id %}">
                        {% if is_liked %}
                            <img src="{% static 'images/hearted.png' %}" alt="heart" />
                        {% else %}
                            <img src="{% static 'images/heart2.png' %}" alt="heart" />
                        {% endif %}
                    </a>
                    {{post.likes}}
                </div>  
            </div>
            <div id="author">
                <a href="{% url 'feed:account' post.creator.username %}">
                    {% if post.creator.profile_picture %}
                        <img class="authorPic" src="{{post.creator.profile_picture.url}}" alt="authorProfile" />
                    {% else %}
                        <img class="authorPic" src="{{ MEDIA_URL }}profile.png" alt="authorProfile" />
                    {%endif%}
                    
                    
                </a>
                
                <div id="authorDetail">
                    <a href="{% url 'feed:account' post.creator.username %}" align = "center" id="name">{{post.creator.username}}</a>
                    <div id="authorOpera">
                        <a id = "follow" class="button" href="{% url 'feed:follow_user' post.creator.username  %}">Follow</a>
                        <a class="button" href="{% url 'feed:add_post' post.id %}">Attempt</a>
                        <a class="button" href="{% url 'feed:add_to_folder' post.id %}">Add to folder</a>
                    </div>
                </div>
                
            </div>
			<div id="title">{{post.title}}</div>
           
            <div id="description">{{post.description}}</div>
            {% block add_post%}
            
            
			<div class = "commentStyle">
                {{comments.count}} 
                {% if comments.count == 1%}
                Comment
                {%else%}
                Comments
                {%endif%}
            </div>
                <div >
                    <form action="{% url 'feed:comment_on_post' post.id%}" method="POST" class = "commentInputFormat">
                        {% csrf_token %}
                        <div class="input-box">
                            {{ form.comment }}
                        </div>
                        <div class="submit-box">
                            <input type="submit" value="Comment" class = "submit-box">
                        </div>
                        
                    </form>
                </div>
				{% for comment in comments %}
					<div class="commentStyle">
                        {{ comment.user.username }}:
                        {{ comment.comment }}
				    </div>
				{% endfor %}
                
            </div>
            {% endblock%}
            
        </div>
        {% endif %}
	
    </div>
</div>
{% endif %}
</br></br>
<script src="{% static 'js/picDetail.js' %}" crossorigin="anonymous"></script>
{% endblock %}