{% extends 'feed/base.html'%}
{% load staticfiles %}

{% block title_block %}
    {{ name }}'s Folder
{% endblock %}

{% block body_block %}
    {% if post in posts %}
        <td>
            <div class="picLine">
                <div class="picBackground">
                    <a href="{% url 'feed:show_post' post.id%}"><img class="coverImage"
                        src="{{ post.picture.url }}" alt="Image of {{ post.title }}">
                    <div class="allPicOpera">
                        {% if post.creator.UserProfile.profile_picture %}
                        <a href=""><img class = "authPic"
                                src="{{ post.creator.profile_picture.url }}" alt="profile picture" />
                                <div class="followPic"><img src="{% static 'images/followPic.png' %}"
                                    alt="followPic" /></div>
                            </a>			
                        {% else %}
                            <a href=""><img class = "authPic"
                                src="{{ MEDIA_URL }}profile.png" alt="profile picture1" />
                                    <div class="followPic"><img src="{% static 'images/followPic.png' %}"
                                        alt="followPic" /></div>
                            </a>
                        {% endif %}
                        <a href="" class="authorName">{{ post.creator.username }}</a>
                        {% if user.is_authenticated %}
                            <img class="heartButton" id="{{ post.id }}" width="25px"; src="{% static 'images/heart2.png' %}" alt="heart" /></a>
                            <a href=""><img src="{% static 'images/chat-bubble-dots.png' %}"
                                alt="chat-bubble-dots" /></a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </td>	
    {% else %}
        No posts to show.
    {% endif %}
{% endblock %}